<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<string>disk0</string>
		<string>disk0s1</string>
		<string>disk0s2</string>
		<string>disk0s3</string>
		<string>disk1</string>
		<string>disk1s1</string>
		<string>disk1s2</string>
		<string>disk1s3</string>
		<string>disk1s4</string>
		<string>disk2</string>
		<string>disk2s1</string>
		<string>disk2s2</string>
		<string>disk3</string>
		<string>disk3s1</string>
		<string>disk3s1s1</string>
		<string>disk3s2</string>
		<string>disk3s3</string>
		<string>disk3s4</string>
		<string>disk3s5</string>
		<string>disk3s6</string>
		<string>disk4</string>
		<string>disk4s1</string>
		<string>disk5</string>
		<string>disk5s1</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>Apple_APFS_ISC</string>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>DiskUUID</key>
					<string>57A4C330-78A0-4C1F-B1C7-C75D035CE5A2</string>
					<key>Size</key>
					<integer>524288000</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>DiskUUID</key>
					<string>A0CAB96C-8613-40FE-8C88-3F18A6CB811A</string>
					<key>Size</key>
					<integer>994662584320</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS_Recovery</string>
					<key>DeviceIdentifier</key>
					<string>disk0s3</string>
					<key>DiskUUID</key>
					<string>10B545B7-365F-454F-8F48-EE2112919B58</string>
					<key>Size</key>
					<integer>5368664064</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>1000555581440</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>6090752</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s1</string>
					<key>DiskUUID</key>
					<string>E49EDE6F-55B9-4680-AC11-7B18C89E46D9</string>
					<key>MountPoint</key>
					<string>/System/Volumes/iSCPreboot</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>iSCPreboot</string>
					<key>VolumeUUID</key>
					<string>E49EDE6F-55B9-4680-AC11-7B18C89E46D9</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>6311936</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s2</string>
					<key>DiskUUID</key>
					<string>0857DCF2-434C-4673-8651-32C58ABA2890</string>
					<key>MountPoint</key>
					<string>/System/Volumes/xarts</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>xART</string>
					<key>VolumeUUID</key>
					<string>0857DCF2-434C-4673-8651-32C58ABA2890</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>4104192</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s3</string>
					<key>DiskUUID</key>
					<string>F5FF127C-19BF-43F0-99E9-CC952211C007</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Hardware</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>Hardware</string>
					<key>VolumeUUID</key>
					<string>F5FF127C-19BF-43F0-99E9-CC952211C007</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>20480</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s4</string>
					<key>DiskUUID</key>
					<string>DC087499-0429-4E69-B2DC-67654F60E877</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>DC087499-0429-4E69-B2DC-67654F60E877</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk1</string>
			<key>OSInternal</key>
			<true/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>524288000</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s3</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>2555121664</integer>
					<key>DeviceIdentifier</key>
					<string>disk2s1</string>
					<key>DiskUUID</key>
					<string>B635503C-712F-4B59-9235-EFF2E1EAD3C5</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>5368664064</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>B635503C-712F-4B59-9235-EFF2E1EAD3C5</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>2232320</integer>
					<key>DeviceIdentifier</key>
					<string>disk2s2</string>
					<key>DiskUUID</key>
					<string>59E5C64B-9A53-4FD3-AADC-3AF51DF88FE0</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>5368664064</integer>
					<key>VolumeName</key>
					<string>Update</string>
					<key>VolumeUUID</key>
					<string>59E5C64B-9A53-4FD3-AADC-3AF51DF88FE0</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk2</string>
			<key>OSInternal</key>
			<true/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>5368664064</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>13660123136</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s1</string>
					<key>DiskUUID</key>
					<string>A995C13F-7152-4D60-86E3-22F3C00477A8</string>
					<key>MountedSnapshots</key>
					<array>
						<dict>
							<key>Sealed</key>
							<string>Yes</string>
							<key>SnapshotBSD</key>
							<string>disk3s1s1</string>
							<key>SnapshotMountPoint</key>
							<string>/</string>
							<key>SnapshotName</key>
							<string>com.apple.os.update-9A91EDBD140271063B786C536C3AC26E58AD0E7C7F07601D5628E11CD66CC339</string>
							<key>SnapshotUUID</key>
							<string>33240D16-7984-445C-9363-4A979BE1D4DB</string>
						</dict>
					</array>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>Macintosh HD</string>
					<key>VolumeUUID</key>
					<string>A995C13F-7152-4D60-86E3-22F3C00477A8</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>13660123136</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s1s1</string>
					<key>DiskUUID</key>
					<string>33240D16-7984-445C-9363-4A979BE1D4DB</string>
					<key>MountPoint</key>
					<string>/</string>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>Macintosh HD</string>
					<key>VolumeUUID</key>
					<string>33240D16-7984-445C-9363-4A979BE1D4DB</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>11049328640</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s2</string>
					<key>DiskUUID</key>
					<string>113BC30B-645F-4830-8572-94AB9D987E04</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Preboot</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>Preboot</string>
					<key>VolumeUUID</key>
					<string>113BC30B-645F-4830-8572-94AB9D987E04</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>1604292608</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s3</string>
					<key>DiskUUID</key>
					<string>A34E2E46-C22F-4562-9083-9770C22A1E05</string>
					<key>MountPoint</key>
					<string>/Volumes/Recovery</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>A34E2E46-C22F-4562-9083-9770C22A1E05</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>24510464</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s4</string>
					<key>DiskUUID</key>
					<string>ABCDD733-06F5-420D-8F6E-00CE64ADF696</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Update</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>Update</string>
					<key>VolumeUUID</key>
					<string>ABCDD733-06F5-420D-8F6E-00CE64ADF696</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>770184749056</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s5</string>
					<key>DiskUUID</key>
					<string>4D725A0E-94D5-4A9B-8F7B-5F539862CA89</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Data</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>Macintosh HD - Data</string>
					<key>VolumeUUID</key>
					<string>4D725A0E-94D5-4A9B-8F7B-5F539862CA89</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>24576</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s6</string>
					<key>DiskUUID</key>
					<string>10119924-7808-4EC4-A7EE-BB4AB1D32258</string>
					<key>MountPoint</key>
					<string>/System/Volumes/VM</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>994662584320</integer>
					<key>VolumeName</key>
					<string>VM</string>
					<key>VolumeUUID</key>
					<string>10119924-7808-4EC4-A7EE-BB4AB1D32258</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk3</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>994662584320</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk4</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk4s1</string>
					<key>DiskUUID</key>
					<string>5E92C816-1E32-43CA-A667-2AB9C2676C2A</string>
					<key>Size</key>
					<integer>18083741696</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>18083776000</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk4s1</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>17571344384</integer>
					<key>DeviceIdentifier</key>
					<string>disk5s1</string>
					<key>DiskUUID</key>
					<string>E631F872-4852-4BE2-9150-C1E42641621F</string>
					<key>MountPoint</key>
					<string>/Library/Developer/CoreSimulator/Volumes/iOS_23F77</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>18083741696</integer>
					<key>VolumeName</key>
					<string>iOS 26.5 Simulator</string>
					<key>VolumeUUID</key>
					<string>E631F872-4852-4BE2-9150-C1E42641621F</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk5</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>18083741696</integer>
		</dict>
	</array>
	<key>VolumesFromDisks</key>
	<array>
		<string>iSCPreboot</string>
		<string>xART</string>
		<string>Hardware</string>
		<string>Macintosh HD</string>
		<string>Preboot</string>
		<string>Recovery</string>
		<string>Update</string>
		<string>Macintosh HD - Data</string>
		<string>VM</string>
		<string>iOS 26.5 Simulator</string>
	</array>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
		<string>disk1</string>
		<string>disk2</string>
		<string>disk3</string>
		<string>disk4</string>
		<string>disk5</string>
	</array>
</dict>
</plist>
