<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APFSContainerFree</key>
	<integer>466067456</integer>
	<key>APFSContainerReference</key>
	<string>disk5</string>
	<key>APFSContainerSize</key>
	<integer>18083741696</integer>
	<key>APFSPhysicalStores</key>
	<array>
		<dict>
			<key>APFSPhysicalStore</key>
			<string>disk4s1</string>
		</dict>
	</array>
	<key>APFSSnapshot</key>
	<false/>
	<key>Bootable</key>
	<true/>
	<key>BusProtocol</key>
	<string>Disk Image</string>
	<key>CanBeMadeBootable</key>
	<false/>
	<key>CanBeMadeBootableRequiresDestroy</key>
	<false/>
	<key>CapacityInUse</key>
	<integer>17571344384</integer>
	<key>Content</key>
	<string>41504653-0000-11AA-AA11-00306543ECAC</string>
	<key>DeviceBlockSize</key>
	<integer>4096</integer>
	<key>DeviceIdentifier</key>
	<string>disk5s1</string>
	<key>DeviceNode</key>
	<string>/dev/disk5s1</string>
	<key>DeviceTreePath</key>
	<string>IODeviceTree:/</string>
	<key>DiskUUID</key>
	<string>E631F872-4852-4BE2-9150-C1E42641621F</string>
	<key>Ejectable</key>
	<true/>
	<key>EjectableMediaAutomaticUnderSoftwareControl</key>
	<true/>
	<key>EjectableOnly</key>
	<true/>
	<key>Encryption</key>
	<false/>
	<key>EncryptionThisVolumeProper</key>
	<false/>
	<key>FileVault</key>
	<false/>
	<key>FilesystemName</key>
	<string>APFS</string>
	<key>FilesystemType</key>
	<string>apfs</string>
	<key>FilesystemUserVisibleName</key>
	<string>APFS</string>
	<key>FreeSpace</key>
	<integer>0</integer>
	<key>GlobalPermissionsEnabled</key>
	<true/>
	<key>IOKitSize</key>
	<integer>18083741696</integer>
	<key>IORegistryEntryName</key>
	<string>iOS 26.5 Simulator</string>
	<key>Internal</key>
	<false/>
	<key>Locked</key>
	<false/>
	<key>MediaName</key>
	<string></string>
	<key>MediaType</key>
	<string>Generic</string>
	<key>MountPoint</key>
	<string>/Library/Developer/CoreSimulator/Volumes/iOS_23F77</string>
	<key>OSInternalMedia</key>
	<false/>
	<key>ParentWholeDisk</key>
	<string>disk5</string>
	<key>PartitionMapPartition</key>
	<false/>
	<key>RAIDMaster</key>
	<false/>
	<key>RAIDSlice</key>
	<false/>
	<key>Removable</key>
	<true/>
	<key>RemovableMedia</key>
	<true/>
	<key>RemovableMediaOrExternalDevice</key>
	<true/>
	<key>SMARTDeviceSpecificKeysMayVaryNotGuaranteed</key>
	<dict/>
	<key>SMARTStatus</key>
	<string>Not Supported</string>
	<key>Sealed</key>
	<string>Yes</string>
	<key>Size</key>
	<integer>18083741696</integer>
	<key>SolidState</key>
	<true/>
	<key>SupportsGlobalPermissionsDisable</key>
	<true/>
	<key>SystemImage</key>
	<false/>
	<key>TotalSize</key>
	<integer>18083741696</integer>
	<key>VolumeAllocationBlockSize</key>
	<integer>4096</integer>
	<key>VolumeName</key>
	<string>iOS 26.5 Simulator</string>
	<key>VolumeSize</key>
	<integer>0</integer>
	<key>VolumeUUID</key>
	<string>E631F872-4852-4BE2-9150-C1E42641621F</string>
	<key>WholeDisk</key>
	<false/>
	<key>Writable</key>
	<false/>
	<key>WritableMedia</key>
	<false/>
	<key>WritableVolume</key>
	<false/>
</dict>
</plist>
